<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>RowImage</key>
		<string>AlexHead.png</string>
		<key>RowTitle</key>
		<string>Alex</string>
		<key>Next</key>
		<string>Alex.plist</string>
		<key>NextBackgroundImage</key>
		<string>AlexBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>Chun-LiHead.png</string>
		<key>RowTitle</key>
		<string>Chun-Li</string>
		<key>Next</key>
		<string>Chun-Li.plist</string>
		<key>NextBackgroundImage</key>
		<string>Chun-LiBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>DudleyHead.png</string>
		<key>RowTitle</key>
		<string>Dudley</string>
		<key>Next</key>
		<string>Dudley.plist</string>
		<key>NextBackgroundImage</key>
		<string>DudleyBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>ElenaHead.png</string>
		<key>RowTitle</key>
		<string>Elena</string>
		<key>Next</key>
		<string>Elena.plist</string>
		<key>NextBackgroundImage</key>
		<string>ElenaBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>GoukiHead.png</string>
		<key>RowTitle</key>
		<string>Gouki</string>
		<key>Next</key>
		<string>Gouki.plist</string>
		<key>NextBackgroundImage</key>
		<string>GoukiBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>HugoHead.png</string>
		<key>RowTitle</key>
		<string>Hugo</string>
		<key>Next</key>
		<string>Hugo.plist</string>
		<key>NextBackgroundImage</key>
		<string>HugoBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>IbukiHead.png</string>
		<key>RowTitle</key>
		<string>Ibuki</string>
		<key>Next</key>
		<string>Ibuki.plist</string>
		<key>NextBackgroundImage</key>
		<string>IbukiBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>KenHead.png</string>
		<key>RowTitle</key>
		<string>Ken</string>
		<key>Next</key>
		<string>Ken.plist</string>
		<key>NextBackgroundImage</key>
		<string>KenBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>MakotoHead.png</string>
		<key>RowTitle</key>
		<string>Makoto</string>
		<key>Next</key>
		<string>Makoto.plist</string>
		<key>NextBackgroundImage</key>
		<string>MakotoBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>NecroHead.png</string>
		<key>RowTitle</key>
		<string>Necro</string>
		<key>Next</key>
		<string>Necro.plist</string>
		<key>NextBackgroundImage</key>
		<string>NecroBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>OroHead.png</string>
		<key>RowTitle</key>
		<string>Oro</string>
		<key>Next</key>
		<string>Oro.plist</string>
		<key>NextBackgroundImage</key>
		<string>OroBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>QHead.png</string>
		<key>RowTitle</key>
		<string>Q</string>
		<key>Next</key>
		<string>Q.plist</string>
		<key>NextBackgroundImage</key>
		<string>QBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>RemyHead.png</string>
		<key>RowTitle</key>
		<string>Remy</string>
		<key>Next</key>
		<string>Remy.plist</string>
		<key>NextBackgroundImage</key>
		<string>RemyBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>RyuHead.png</string>
		<key>RowTitle</key>
		<string>Ryu</string>
		<key>Next</key>
		<string>Ryu.plist</string>
		<key>NextBackgroundImage</key>
		<string>RyuBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>SeanHead.png</string>
		<key>RowTitle</key>
		<string>Sean</string>
		<key>Next</key>
		<string>Sean.plist</string>
		<key>NextBackgroundImage</key>
		<string>SeanBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>TwelveHead.png</string>
		<key>RowTitle</key>
		<string>Twelve</string>
		<key>Next</key>
		<string>Twelve.plist</string>
		<key>NextBackgroundImage</key>
		<string>TwelveBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>UrienHead.png</string>
		<key>RowTitle</key>
		<string>Urien</string>
		<key>Next</key>
		<string>Urien.plist</string>
		<key>NextBackgroundImage</key>
		<string>UrienBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>YangHead.png</string>
		<key>RowTitle</key>
		<string>Yang</string>
		<key>Next</key>
		<string>Yang.plist</string>
		<key>NextBackgroundImage</key>
		<string>YangBody.png</string>
	</dict>
	<dict>
		<key>RowImage</key>
		<string>YunHead.png</string>
		<key>RowTitle</key>
		<string>Yun</string>
		<key>Next</key>
		<string>Yun.plist</string>
		<key>NextBackgroundImage</key>
		<string>YunBody.png</string>
	</dict>
</array>
</plist>
