<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>SectionTitle</key>
			<string>キャラ別攻略</string>
			<key>Rows</key>
			<array>
				<dict>
					<key>RowImage</key>
					<string>AlexHead.png</string>
					<key>RowTitle</key>
					<string>アレックス</string>
					<key>Next</key>
					<string>Alex.plist</string>
					<key>NextBackgroundImage</key>
					<string>AlexBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>Chun-LiHead.png</string>
					<key>RowTitle</key>
					<string>チュンリー</string>
					<key>Next</key>
					<string>Chun-Li.plist</string>
					<key>NextBackgroundImage</key>
					<string>Chun-LiBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>DudleyHead.png</string>
					<key>RowTitle</key>
					<string>ダッドリー</string>
					<key>Next</key>
					<string>Dudley.plist</string>
					<key>NextBackgroundImage</key>
					<string>DudleyBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>ElenaHead.png</string>
					<key>RowTitle</key>
					<string>エレナ</string>
					<key>Next</key>
					<string>Elena.plist</string>
					<key>NextBackgroundImage</key>
					<string>ElenaBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>GoukiHead.png</string>
					<key>RowTitle</key>
					<string>豪鬼</string>
					<key>Next</key>
					<string>Gouki.plist</string>
					<key>NextBackgroundImage</key>
					<string>GoukiBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>HugoHead.png</string>
					<key>RowTitle</key>
					<string>ヒューゴー</string>
					<key>Next</key>
					<string>Hugo.plist</string>
					<key>NextBackgroundImage</key>
					<string>HugoBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>IbukiHead.png</string>
					<key>RowTitle</key>
					<string>いぶき</string>
					<key>Next</key>
					<string>Ibuki.plist</string>
					<key>NextBackgroundImage</key>
					<string>IbukiBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>KenHead.png</string>
					<key>RowTitle</key>
					<string>ケン</string>
					<key>Next</key>
					<string>Ken.plist</string>
					<key>NextBackgroundImage</key>
					<string>KenBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>MakotoHead.png</string>
					<key>RowTitle</key>
					<string>まこと</string>
					<key>Next</key>
					<string>Makoto.plist</string>
					<key>NextBackgroundImage</key>
					<string>MakotoBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>NecroHead.png</string>
					<key>RowTitle</key>
					<string>ネクロ</string>
					<key>Next</key>
					<string>Necro.plist</string>
					<key>NextBackgroundImage</key>
					<string>NecroBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>OroHead.png</string>
					<key>RowTitle</key>
					<string>オロ</string>
					<key>Next</key>
					<string>Oro.plist</string>
					<key>NextBackgroundImage</key>
					<string>OroBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>QHead.png</string>
					<key>RowTitle</key>
					<string>Q</string>
					<key>Next</key>
					<string>Q.plist</string>
					<key>NextBackgroundImage</key>
					<string>QBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>RemyHead.png</string>
					<key>RowTitle</key>
					<string>レミー</string>
					<key>Next</key>
					<string>Remy.plist</string>
					<key>NextBackgroundImage</key>
					<string>RemyBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>RyuHead.png</string>
					<key>RowTitle</key>
					<string>リュウ</string>
					<key>Next</key>
					<string>Ryu.plist</string>
					<key>NextBackgroundImage</key>
					<string>RyuBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>SeanHead.png</string>
					<key>RowTitle</key>
					<string>ショーン</string>
					<key>Next</key>
					<string>Sean.plist</string>
					<key>NextBackgroundImage</key>
					<string>SeanBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>TwelveHead.png</string>
					<key>RowTitle</key>
					<string>トゥエルヴ</string>
					<key>Next</key>
					<string>Twelve.plist</string>
					<key>NextBackgroundImage</key>
					<string>TwelveBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>UrienHead.png</string>
					<key>RowTitle</key>
					<string>ユリアン</string>
					<key>Next</key>
					<string>Urien.plist</string>
					<key>NextBackgroundImage</key>
					<string>UrienBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>YangHead.png</string>
					<key>RowTitle</key>
					<string>ヤン</string>
					<key>Next</key>
					<string>Yang.plist</string>
					<key>NextBackgroundImage</key>
					<string>YangBody.png</string>
				</dict>
				<dict>
					<key>RowImage</key>
					<string>YunHead.png</string>
					<key>RowTitle</key>
					<string>ユン</string>
					<key>Next</key>
					<string>Yun.plist</string>
					<key>NextBackgroundImage</key>
					<string>YunBody.png</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
